<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>综合案例</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <table>
      <thead>
        <tr>
          <th>姓名</th>
          <th>年龄</th>
          <th>地址</th>
        </tr>
      </thead>
      <tbody v-if='userlist.length > 0'>
        <tr v-for='item in userlist'>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>{{item.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        userlist: []
      }
    })
    setInterval(function () {
      app.userlist.push({
        'name': 'monkey',
        'age': 22,
        'address': 'china'
      });
    }, 1000)
  </script>
</body>

</html>